<style>
    .heading{
        display: none;
    }
    a{
        padding: 20px;
        border-radius: 10px;
        color: white;
    }
    a:hover{
        background-color: green;
        color: white;
    }
    center{
        margin-top: 25%;
    }
</style>
<center>
    <td class="validation"><a href="@Url.Action("LoginDepartement", "Home", new { })" style="background-color:green">Login department</a></td>
    <td class="validation"><a href="@Url.Action("LoginChef", "Home", new { })" style="background-color:green">Login Chef</a></td>
</center>