<style>
        #welcome {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; 
        }
        h1 {
            text-align: center;
        }
</style>
<body>
    <h1 id="welcome">BienVenue</h1>
</body>

